* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2", cursive;
}
    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #262626;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    }
    /* #navbar{
    position:fixed;
    top:0;
    left:0;
    } */
    ul {
    display: flex;
    list-style: none;
    /* text-align: center; */
    color: #fff;
    gap: 2rem;
    position: fixed;
    right: 0;
    padding-right: 15px;
    }
    nav a {
    color: white;
    text-decoration: none;
    }
    a:hover {
    background-color: rgb(22, 22, 94);
    border-radius: 10px;
    padding: 10px;
    }
    .logo {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    color: #fff;
    margin-right: 700px;
    }
    .btn {
    margin-top: 30px;
    color: red;
    cursor: pointer;
    border-radius: 25px;
    padding: 1rem 2rem;
    }
  img {
    margin-top: 100px;
    text-align: center;
    height: 700px;
    width: 1200px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    background-color: #262626;
    color: white;
    }